 nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}
nav ul li:first-child { float: left; }

nav ul li {
    color: white;
    display: inline;
    float: left;
    text-align: right;
}

.navbar {
  background-color: #333333;
  margin: auto 15px;
  padding: 0 20px;
}
nav li a:hover {
    text-decoration: none;
    color: black;
}
.container li {
  list-style: none;
  margin: 30px;


}
nav li span {
  color: white;
  padding: 14px 16px;
  display: block;
  font-style: oblique;
  margin-right: 100px;
}
nav li a {
    color: white;
    padding: 14px 16px;
    display: block;
    font-style: oblique;

}
#left {
  float: left;
  display: inline;
  width: 50%;
  border: 1px solid grey;
}
#right ul, #left ul {
  list-style-type: none;
}
#right {
  float: right;
  display: inline;
  width: 50%;
  border: 1px solid grey;
}
.itemDisplay {
  width:80%;
  height: auto;
  margin: auto 0;
}
 h2 {
  text-align: center;
}
.container-fluid h1{
  text-align: center;
}
@media screen and (max-width: 780px) {
    nav ul {
        width: 100%;
        display: block;
        height: auto;
        padding: 1px;
    }
    nav li {
        width: 100%;
        float: left;
        position: relative;
    }
    nav li {
        border: 1px solid #576979;
    }
    nav a, nav span{
        text-align: left;
        width: 100%;
        text-indent: 30%;
    }
    .container-fluid #left {
      float: left;
      display: block;
      width: 100%;
      margin: 0 auto;
    }
    .container-fluid #right {
      display: block;
      width: 100%;
    }
    .itemDisplay {
      width:100%;
      height: auto;
      margin: auto 0;
    }
    .container-fluid h4, h2, h1 {
      margin-left: 40%;
    }

}
